<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="author" content="{% block meta-author %}{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
    {% block extra-meta %}{% endblock %}
    {% block extra-css %}
    <link rel="stylesheet" href="/static/css/bg-anim.css"/>
    {% endblock %}
    {% block extra-js-top %}
    <script src="/static/js/jquery-2.0.2.min.js"></script>
    <script src="/static/js/bg-anim.js"></script>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div id="gradient" />
    {% endblock %}
    {% block extra-js %}{% endblock %}
</body>
</html>
